<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IMyQueuedService" sendTimeout="00:05:00">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyQueuedService" sendTimeout="00:05:00">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8100/myqueuedService"
                      binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_IMyQueuedService"
                      contract="Service.Contract.IMyQueuedService"
                      name="NetTcpBinding_IMyQueuedService" />
            <endpoint address="net.msmq://localhost/private/MyQueuedServiceQueue"
                      binding="netMsmqBinding"
                      bindingConfiguration="NetMsmqBinding_IMyQueuedService"
                      contract="Service.Contract.IMyQueuedService"
                      name="NetMsmqBinding_IMyQueuedService" />
        </client>
    </system.serviceModel>
</configuration>